extends layout


block content
  p Si besoin,vous pouvez me contacter :
  a.text-reset(href="stephane.zenou@geodis.com") stephane.zenou@geodis.com 

  



block localscript
   script(src='/javascripts/app.js')