nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
        button#sidebarCollapse.btn.btn-sm.btn-info( type="button")
            i.fas.fa-align-left
            span Toggle Sidebar
    div#navbarSupportedContent.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href="#") Page
            li.nav-item.active
                a.nav-link(href="#") Page
            li.nav-item.active
                a.nav-link(href="#") Page