nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
        button#sidebarCollapse.btn.btn-sm( type="button")
            img#sidebarCollapseImage(src="/icons/box-arrow-in-left.svg", alt="", width="24" ,height="24")
        div#navbarSupportedContent.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href="/") Home
                unless user
                    li.nav-item.active
                        a.nav-link(href="/signup") Register
                unless user
                    li.nav-item.active
                        a.nav-link(href="/login") Login
                if user
                    li.nav-item.active
                        a.nav-link(href="/logout") Logout