extends layout

block content
  <hr>
  h1 Session:
  div
    p my session id #{myid}
  <hr>
  h1 API Acces:
  div#apistatus
  <hr>
  h1 Database: 
  div#dbstatus
  <hr>
  h1 Socketio: 
  
  span#serveur_message
  div
   button#btn_testsocket.btn.btn-primary.btn-sm Envoie message

block localscript
   script(src='/javascripts/app.js')
   script(src='/javascripts/client-test.js')