extends layout

block content
  <hr>
  h1 Session:
  div
    p my session id #{myid}
  <hr>
  h1 API Acces:
  div#apistatus
  <hr>
  h1 Database: 
  div#dbstatus
  <hr>
  h1 Socketio: 
  
  span#serveur_message
  div
   button#btn_testsocket.btn.btn-primary.btn-sm Envoie message
  <hr>
  h1 Boostrap Icons:
  img(src="/icons/bootstrap.svg", alt="", width="32", height="32", title="Bootstrap")
  svg.bi.bi-alert-triangle.text-success(width="32", height="32", viewBox="0 0 20 20" ,fill="currentColor" ,xmlns="http://www.w3.org/2000/svg")

  <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
  </svg>


block localscript
   script(src='/javascripts/app.js')
   script(src='/javascripts/client-test.js')