extends layout

block content

  h1 socketio: 
  
  span#serveur_message
  div
   button#btn_testsocket.btn.btn-primary.btn-sm Envoie message

block localscript
   script(src='/javascripts/app.js')
   script(src='/javascripts/client-test.js')