extends layout

block content
  h2 #{title}
  p Liste des utilisateurs


  div#liste.container

block localscript
   script var user =  JSON.parse('!{JSON.stringify(user)}');  
   script(src='/javascripts/app.js')
   script(src='/javascripts/users.js')