extends layout

block content
  if message != ''
    .alert.alert-error #{message}
  .container
    h1 #{user.username}: Changement de votre mot de passe  
    if message != ''
      .alert.alert-error #{message}
    br
    form(role='form', action="/user/changepassword",method="post", style='max-width: 300px;')
      input.form-control(type='oldpassword', name="oldpassword", placeholder='Vore mot de passe actuel')
      input.form-control(type='newpassword', name="newpassword", placeholder='Nouveau mot de passe')
      br
      button.btn.btn-primary(type='submit') Valider

block localscript
   script(src='/javascripts/app.js')