extends layout

mixin api(href)
  - var text='GET'
  li.list-group-item
    h6 GET  
      a(class!=attributes.class href=href)= href 

block content
  h4 Bonjour #{user.username}

  h5 Vous pouvez utliser l'interface pour faire vos demande de projets 
     a(href='/projects') projets
  hr
  h5 Une api est disponible (en cours d'évolution)
  div
    ul.list-group
      +api('/api/status')
      +api('/api/projects') 
      +api('/api/project/#id')
      +api('/api/users') 


block localscript
   script(src='/javascripts/app.js')