doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // link(rel='stylesheet', href='/stylesheets/fontawesome/all.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    // Font Awesome
    script(src='/javascripts/solid.js')
    script(src='/javascripts/fontawesome.js')
    //
    link(rel="stylesheet" href='/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
      //define functions socket.emit sending to server (app.js) and socket.on receiving 
      // 'new message' is for the id of the socket and $('#new-message') is for the button
      // 'chat message' is for the id of the socket and $('#new-area') is for the text area
  body
    div.sticky-top#messages-area
    div.wrapper
        include sidebar
        div#content
          include menu
          block content
          div
            code#debug
        div.overlay 

    // jquery JS
    
    script(src='/jquery/jquery.min.js')
    script(src='/popper/umd/popper.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    block localscript
