nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
        button#sidebarCollapse.btn.btn-sm( type="button")
            img#sidebarCollapseImage(src="/icons/box-arrow-in-left.svg", alt="", width="24" ,height="24")
        div#navbarSupportedContent.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href="/") 
                        svg.bi(width="32" ,height="32" ,fill="currentColor")
                            use(xlink:href="/bootstrap-icons.svg#house-door-fill")
                unless user
                    li.nav-item.active
                        a.nav-link(href="/signup")
                            svg.bi(width="32" ,height="32" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#person-plus-fill")
                unless user
                    li.nav-item.active
                        a.nav-link(href="/login")
                            svg.bi(width="32" ,height="32" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#arrow-bar-up")
                if user
                    li.nav-item.active
                        a.nav-link(href="/logout")
                            svg.bi(width="32" ,height="32" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#x-square-fill")
