// sidebar
nav#sidebar
    div.sidebar-header
        h3 OCP Projects
    ul.list-unstyled.components
        p Gestion des demandes de projet Openshift
        li
           a(href="/") Home
        li
           a(href="/project") Projects
        if user
            if user.admin
                li
                    a.dropdown-toggle(href="#pageSubmenu", data-toggle="collapse", aria-expanded="false") Admin
                    ul#pageSubmenu.collapse.list-unstyled
                        a(href="/user") Utilisateurs
        li
            a(href="/contact") Contacts 